

//if recommended===none
{% for item in movie %}
 <div class="card" style="width: 22rem">
<img class="card-img-top" src="{{item.image.url}}"  alt="Card image cap" height="250px" width="200px">           
<div class="card-footer">
<small class="text-muted">{{item.movieduration}}</small>
</div>
</div>
{%endfor%}









//else if recommended

    {% for item in recommended %}
                                                <div class="col-4 mb-2">
                                                        <div class="card" style="width: 22rem">
                                                            <img class="card-img-top" src="{{item.image}}"  alt="Card image cap" height="250px" width="200px">           
                                                                <div class="card-footer">
                                                                        <small class="text-muted">{{item.genres}}</small>
                                                                        <small class="text-muted">{{item.movieduration}}</small>
                                                                </div>
                                                        </div>
                                                </div>
                    {% endfor %}


//watched movie by user

   <div class="col-12">
                            <h3 class="mb-3 text-light">Watched Movie By {{request.user.username}} </h3>
                        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators3" class="carousel slide" data-interval="8000" data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active"> 
                  <div class="row">
                        {% for item in watchedmovie %}
            
                                                <div class="col-4 mb-2">
                                                        <div class="card" style="width: 22rem">
                                                            <img class="card-img-top" src="{{item.movie.image.url}}"  alt="Card image cap" height="250px" width="200px">           
                                                                <div class="card-footer">
                                                                        <small class="text-muted">{{item.movie.genres}}</small>
                                                                        <small class="text-muted">{{item.movie.movieduration}}</small>
                                                                </div>
                                                        </div>
                                                </div>

                          {% endfor %}   
                        </div>
                    </div>



//All Movie list


              {% for item in movie %}
                     
                                                <div class="col-4 mb-2">
                                                        <div class="card" style="width: 22rem">
                                                            <img class="card-img-top" src="{{item.image.url}}"  alt="Card image cap" height="250px" width="200px">           
                                                                <div class="card-footer">
                                                                        <small class="text-muted">{{item.genres}}</small>
                                                                        <small class="text-muted">{{item.movieduration}}</small>
                                                                </div>
                                                        </div>
                                                </div>
               
                          {% endfor %}   
















{% extends 'MovieRecommender/base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
{% endblock css %}
{% block content %}

<section class="pt-5 pb-5">
{% if  request.user.is_authenticated %}
{% if recommended == None %}


{% else %}
 <div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-3 text-light">Recommended for You </h3>
        </div>
</div>
              
              
{% endif %}

<div class="container">
    {%if watchedmovie == None%}
                        <div class="col-12">
                         <h3 class="mb-3 text-light">You Haven't watched Any Movies</h3>
                        </div>
    {%else%}
</div>                    
{% endif %}
{% else %}
<div class="container">

</div>
  
{% endif %}
</section>
{% endblock content %}
















<section class="pt-5 pb-5">
                {% if messages %}
                {%for msg in messages%}
                {% if msg %}   <div class="alert alert-{{msg.tags}} font-weight-bold text-primary w-50 ml-3">{{msg}}</div>{% endif %}
                {%endfor%}
                {% endif %}
 <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3 text-light">Movie List </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active"> 
                  <div class="row">
                        {% for item in movie %}
                            {% if forloop.counter <= 6  %}
                                                <div class="col-4 mb-2">
                                                        <div class="card" style="width: 22rem">
                                                            <img class="card-img-top" src="{{item.image.url}}"  alt="Card image cap" height="250px" width="200px">  
                                                                 <div class="card-body">
                                                                        <form action="" method="post" class="range-field">
                                                                        {% csrf_token %}  
                                                                        <input type="hidden" name="movieid" value="{{item.id}}"/>
                                                                        <input type="hidden" name="userid" value="{{user.id}}"/> 
                                                                        {{rform.as_p}}
                                                                        <div class="showrating">
                                                                        
                                                                        </div>
                                                                        <input type="submit" class="btn btn-primary" value="Submit">
                                                                        </form>
                                                                </div>         
                                                                <div class="card-footer">
                                                                        <small class="text-muted">{{item.genres}}</small>
                                                                        <small class="text-muted">{{item.movieduration}}</small>
                                                                </div>
                                                        </div>
                                                </div>
                            {% endif %}
                          {% endfor %}   
                        </div>
                    </div>


            <div class="carousel-item"> 
                  <div class="row">
                        {% for item in movie %}
                            {% if forloop.counter >= 6 and forloop.counter <= 12%}
                                                <div class="col-4 mb-2">
                                                        <div class="card" style="width: 22rem">
                                                            <img class="card-img-top" src="{{item.image.url}}"  alt="Card image cap"}>    
                                                                <div class="card-body">
                                                                        <form action="" method="post" class="range-field">
                                                                        {% csrf_token %}  
                                                                        <input type="hidden" name="movieid" value="{{item.id}}"/>
                                                                        <input type="hidden" name="userid" value="{{user.id}}"/> 
                                                                        {{rform.as_p}}
                                                                        <div class="showrating">
                                                                        
                                                                        </div>
                                                                        <input type="submit" class="btn btn-primary" value="Submit">
                                                                        </form>
                                                                </div>        
                                                                <div class="card-footer">
                                                                        <small class="text-muted">{{item.genres}}</small>
                                                                        <small class="text-muted">{{item.movieduration}}</small>
                                                                </div>
                                                        </div>
                                                </div>
                            {% endif %}
                          {% endfor %}   
                        </div>
                    </div>
                       
                       
                           
                      
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}

